$btn-colors: (
    default: (
        bg: $btn-default-bg
    ),
    primary: (
        bg: $btn-primary-bg
    ),
    success: (
        bg: $btn-success-bg
    ),
    info: (
        bg: $btn-info-bg
    ),
    warning: (
        bg: $btn-warning-bg
    ),
    danger: (
        bg: $btn-danger-bg
    )
);

$btn-sizes: (
    large: (
        border-radius: 12px,
        padding-h: $padding-large-horizontal,
        flare: 10px 12px,
        font-size: 18px,
        height: 44px
    ),
    base: (
        border-radius: 10px,
        padding-h: $padding-base-horizontal,
        flare: 8px 10px,
        font-size: 14px,
        height: 32px
    ),
    small: (
        border-radius: 8px,
        padding-h: $padding-small-horizontal,
        flare: 7px 8px,
        font-size: 12px,
        height: 28px
    ),
    xs: (
        border-radius: 6px,
        padding-h: $padding-xs-horizontal,
        flare: 5px 6px,
        font-size: 10px,
        height: 22px
    )
);

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

@mixin button-deco-shadow($color, $margin) {
    $margin-top: $margin * -1 + 3;
    $margin-bottom: $margin - 1;

    box-shadow: 0 $margin 0 darken($color, 20%) !important;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;

    &:hover {
        box-shadow: 0 ($margin - 1) 0 darken($color, 20%) !important;
        margin-top: $margin-top + 1;
        margin-bottom: $margin-bottom - 1;
    }

    &:active {
        box-shadow: 0 1px 0 darken($color, 20%) !important;
        margin-top: 2px;
        margin-bottom: 0;
    }
}

@mixin button-deco-class($className) {
    $bg-color: map-deep-get($btn-colors, $className, "bg");

    &-#{$className} {
        background-color: $bg-color;

        &:hover, &:focus, &:active {
            background-color: $bg-color !important;
        }

        @include button-deco-shadow($bg-color, 5px);

        &:after {
            box-shadow: inset 0 3px 3px -2px rgba(255, 255, 255, 0.85), inset 0 0 0 3px darken($bg-color, 10%);
        }

        &.btn-lg {
            @include button-deco-shadow($bg-color, 6px);

            &:after {
                box-shadow: inset 0 4px 4px -2px rgba(255, 255, 255, 0.85), inset 0 0 0 4px darken($bg-color, 10%);
            }
        }

        &.btn-sm {
            @include button-deco-shadow($bg-color, 4px);

            &:after {
                box-shadow: inset 0 2px 2px -1px rgba(255, 255, 255, 0.85), inset 0 0 0 2px darken($bg-color, 10%);
            }
        }

        &.btn-xs {
            @include button-deco-shadow($bg-color, 3px);

            &:after {
                box-shadow: none;
            }
        }
    }
}

@mixin button-deco-size($size) {
    $border-radius: map-deep-get($btn-sizes, $size, "border-radius");
    $flare: map-deep-get($btn-sizes, $size, "flare");
    $height: map-deep-get($btn-sizes, $size, "height");

    border-radius: $border-radius;
    padding: 0 map-deep-get($btn-sizes, $size, "padding-h");
    height: $height;
    line-height: $height;
    font-size: map-deep-get($btn-sizes, $size, "font-size");

    &:after {
        background-image: url("/assets/img/blink.png");
        background-repeat: no-repeat;
        background-size: $flare;
        background-position: top right;
        content: '';
        position: absolute;
        border-radius: $border-radius;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        border-radius: $border-radius;
        z-index: -1;
    }
}

.btn-group {
    > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        &:after {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            right: -1px;
        }
    }

    > .btn:last-child:not(:first-child), > .dropdown-toggle:not(:first-child) {
        &:after {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            left: -1px;
        }
    }

    > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        &:after {
            border-radius: 0;
            left: -1px;
            right: -1px;
        }
    }

    > .btn-group:last-child:not(:first-child) > .btn:first-child {
        &:after {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            left: -1px;
        }
    }
}

.btn {
    &:focus, &:active {
        outline: none !important;
        outline: 0;
    }

    z-index: 0;
    color: #fff;
    text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black, -1px 2px 0 rgba(0, 0, 0, 0.7), 0px 2px 0 rgba(0, 0, 0, 0.7), 1px 2px 0 rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
    border: none;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(255, 255, 255, 0.35);
        border-radius: 1px 1px 5px 5px;
        z-index: -1;
    }

    @include button-deco-size(base);

    &-lg,
    &-group-lg > .btn {
        @include button-deco-size(large);
    }

    &-sm,
    &-group-sm > .btn {
        @include button-deco-size(small);
    }

    &-xs,
    &-group-xs > .btn {
        @include button-deco-size(xs);
    }

    @include button-deco-class(default);

    @include button-deco-class(primary);

    @include button-deco-class(success);

    @include button-deco-class(info);

    @include button-deco-class(warning);

    @include button-deco-class(danger);
}