
$panel-colors: (
    default: (
        bg: $panel-default-heading-bg
    ),
    primary: (
        bg: $panel-primary-heading-bg
    ),
    success: (
        bg: $panel-success-heading-bg
    ),
    info: (
        bg: $panel-info-heading-bg
    ),
    warning: (
        bg: $panel-warning-heading-bg
    ),
    danger: (
        bg: $panel-danger-heading-bg
    )
);


@mixin panel-deco-class($className) {
    $bg-color: map-deep-get($panel-colors, $className, "bg");

    &-#{$className} {
    border: 3px solid  $bg-color;
    background-color:  $bg-color;

    box-shadow: 0 1px 0 darken($bg-color, 20%), 0 6px 0 darken($bg-color, 20%), 0 8px 4px 1px rgba(0, 0, 0, 0.5), 0 0 1px 1px rgba(0, 0, 0, 0.5);
    .panel-footer {
        border-top: 3px solid  $bg-color;
        
        border-radius: 7px;   
    }
        // background-color: $bg-color;

        // &:hover, &:focus, &:active {
        //     background-color: $bg-color !important;
        // }

        // @include panel-deco-shadow($bg-color, 5px);

        // &:after {
        //     box-shadow: inset 0 3px 3px -2px rgba(255, 255, 255, 0.85), inset 0 0 0 3px darken($bg-color, 10%);
        // }

        // &.btn-lg {
        //     @include panel-deco-shadow($bg-color, 6px);

        //     &:after {
        //         box-shadow: inset 0 4px 4px -2px rgba(255, 255, 255, 0.85), inset 0 0 0 4px darken($bg-color, 10%);
        //     }
        // }

        // &.btn-sm {
        //     @include panel-deco-shadow($bg-color, 4px);

        //     &:after {
        //         box-shadow: inset 0 2px 2px -1px rgba(255, 255, 255, 0.85), inset 0 0 0 2px darken($bg-color, 10%);
        //     }
        // }

        // &.btn-xs {
        //     @include panel-deco-shadow($bg-color, 3px);

        //     &:after {
        //         box-shadow: none;
        //     }
        // }
    }
}


// // Contextual variations
// .panel-default {
//   @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
// }
// .panel-primary {
//   @include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
// }
// .panel-success {
//   @include panel-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
// }
// .panel-info {
//   @include panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
// }
// .panel-warning {
//   @include panel-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
// }
// .panel-danger {
//   @include panel-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
// }
$color-base-default: #777;
.panel {
    border-radius: 10px;
    overflow: hidden;
    // border: 3px solid #5C5450;
    // background-color: #5C5450;
    
    .panel-heading {
        position: relative;
        background-color: transparent;
        display:block;
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black, -1px 2px 0 rgba(0, 0, 0, 0.7), 0px 2px 0 rgba(0, 0, 0, 0.7), 1px 2px 0 rgba(0, 0, 0, 0.7);
border:none;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 0 0 5px 5px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 6px;
            top: 5px;
            right: 5px;
            top: 2px;
            right: 2px;

            // background-image: -webkit-gradient(linear, 0% 0, 100% 0, from(rgba(255, 255, 255, 0.54902)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.8, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.498039)));
            background-color: rgba(255, 255, 255, 0.75);
            border-radius: 10% 10px 10% 10px;
        }
    }

    .panel-body {
        background-color: #fff;
        // background-color: #E4E4D4;
        border-radius: 7px;
    }
    .panel-footer {

        border-radius: 7px;   
    }
}

.panel {
    @include panel-deco-class(default);

    @include panel-deco-class(primary);

    @include panel-deco-class(success);

    @include panel-deco-class(info);

    @include panel-deco-class(warning);

    @include panel-deco-class(danger);
}